.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
    width: 90%;
    max-width: 300px;
    height: 300px;
}

.song-list-container {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    padding: 0.5rem;
}

.song-item {
    padding: 0.5rem;
}

.song-item:hover {
    background-color: #f7fafc;
}